.main_content
	#recipe_top.row
		.col-md-4
			= image_tag @recipe.image.url.to_s, class: "recipe_image"
		.col-md-8
			#recipe_info
				%h1= @recipe.title
				%p.description= @recipe.description

				%p
					%strong Cuisine :
					= @recipe.cuisine_type
				%p
					%strong Meal Type :
					= @recipe.meal_type
				%p
					%strong Submitted by :
					= @recipe.user.email

	.row
		.col-md-6
			#ingredients
				%h2 Ingredients
				%ul
					- @recipe.ingredients.each do |ingredient|
						%li
							%p= "#{ingredient.name} : #{ingredient.quantity} #{ingredient.unit}"



		.col-md-6
			#directions
				%h2 Directions
				%ul
					- @recipe.directions.each do |direction|
						%li= direction.step
	.row
		.col-md-12
			= link_to "Back", recipes_path, class: "btn btn-default"
			- if user_signed_in?
				= link_to "Edit", edit_recipe_path, class: "btn btn-default"
				= link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure you want to delete?" }, class: "btn btn-danger"

	.row
		.col-md-12
		%div.comments-container
			= render partial: "comments/template", locals: {commentable: @recipe, new_comment: @comment}
