<h1>Search Results</h1>
<p><%= link_to 'Back', new_search_path %></p>

<% if @search.search_recipes.empty? %>

  <p>No Recipes Found</p>

<% else %>

  <% @search.search_recipes.each do |c|%>
    <br>

  <div class= "div">
  <!--This needs to be fixed -->
    <h1> <%= link_to c.title %> </h1>
    <p>Ingredients: <%=c.ingredients %> </p>
    <p>Cuisine Type: <%=c.cuisine_type %></p>
    <p>Meal Type: <%=c.meal_type %></p>
    </div>

    <% end %>

<% end %>