!!! 5
%html
%head
	%title Recipe Collective
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' =>true
	= stylesheet_link_tag    'font-awesome', media: 'all', 'data-turbolinks-track' =>true
	= stylesheet_link_tag    'nexus', media: 'all', 'data-turbolinks-track' =>true

	= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:100,300,400'
	= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Roboto:400,300'
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= javascript_include_tag 'modernizr'

	= csrf_meta_tags

%body
	%nav.navbar.navbar-default.background-dark.text-light
		.container
			.navbar-brand= link_to "Recipe Collective", root_path

			- if user_signed_in?
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "New Recipe", new_recipe_path
					%li= link_to "Edit Account", edit_user_registration_path
					%li= link_to "Sign Out", destroy_user_session_path, method: :delete
			- else
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "Sign Up", new_user_registration_path
					%li= link_to "Sign In", new_user_session_path
	.container
		- flash.each do |name, msg|
			= content_tag :div, msg, class: "alert"			
		= yield

%footer
	#footer.background-dark.text-light
		.container.no-padding
			.row
				#footermenu.col-md-12
					%ul.list-unstyled.list-inline
						%li
						%li
						%li
						%li
						#copyright.col-md-3.pull-right
							%p.fa.pull-right (c) 2016 WhatHands
							%p.fa.pull-right  Cameron Chien, Jon Wong,
							%p.fa.pull-right  Andre Voloshin, Austin Yam	